################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MusicReorganizer/bin/Debug
/MusicReorganizer/obj/Debug
/WallpaperReorganizer/bin/Debug/netcoreapp3.1
/WallpaperReorganizer/obj
